---
// FAQ
---

<div class="about">
  <p>
    Companies need to moderate their platforms, but they shouldn't be the only
    ones with that power.
  </p>
  <p>
    Bluesky has <a href="https://bsky.social/about/blog/4-13-2023-moderation"
      >composable moderation</a
    >, which allows anyone to run a labeler & provide moderation to anyone who
    subscribes.
  </p>
  <p>
    This is great! But those labelers still tend to be run by one or a few
    people at most.
  </p>
  <p>
    The vision behind PMsky is one where labels are determined by wide public
    consensus, not on individual opinion.
  </p>
  <p>
    The goal of this platform is to aggregate the opinion of as many as
    possible, and make that information available to labelers.
  </p>
  <p>Follow <a href="/bsky">@pmsky.social</a> to stay tuned!</p>
</div>
<style>
  p {
    margin-bottom: 1.5em;
  }
</style>
