---
// FAQ
---

<div class="faq">
  <h3>🚧 Work in progress! 🚧</h3>
  <br />
  <p>
    1st party moderation is important, but can be heavily subject to a company's
    bias.
  </p>
  <p>
    Bluesky has <a href="https://bsky.social/about/blog/4-13-2023-moderation"
      >composable moderation</a
    >, which allows anyone to run a labeler.
  </p>
  <p>
    This is great! but those labelers still tend to be run by small groups of
    people.
  </p>
  <p>
    The vision behind PMsky is one where labels are determined by wide public
    consensus, not on individual opinion.
  </p>
  <p>
    The goal of this platform then, is to aggregate the opinion of as many as
    possible, and make that information available to labelers.
  </p>
  <p>Follow <a href="/bsky">@pmsky.social</a> to stay tuned!</p>
</div>
<style>
  .faq {
    min-height: 90vh;
  }
  p {
    margin-bottom: 1.5em;
  }
</style>
